#new_account_form{
	display: inline-block;		/* Fits the width of the container according to its content. */
	overflow: hidden;			/* Forces the container to recognize that it has children, for adjusting height */
	background-color: #545758;
	
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: white;
}

.new_account_form_block{
	display: block;
	overflow: hidden;
	margin-left: 4px;
	margin-right: 4px;
}

.new_account_title{
	text-align: center;
	font-size: 1.5em;
	margin: 15px 0px 4px 0px;
}

.new_account_form_block label{
	display: block;
	margin-top: 5px;
	text-transform: uppercase;
}

.new_account_form_block input{
	display: block;
	border: 3px solid white;
	line-height: 1.5;
	font-size: 1em;
	width: 100%;
	background: transparent;
	color: white;
}

.new_account_form_block input:hover,
.new_account_form_block label:hover + input{
	border: 3px solid #5895B8;
}

.new_account_form_block input:focus{
	border: 3px solid #10689a;
}

.new_account_form_column{
	float: left;
	padding: 4px 4px 4px 4px;
	margin: 4px 4px 4px 4px;
	color: white;
}

.new_account_submit{
	margin-top: 15px;
	text-align: center;
	padding: 0px 8px 0px 8px;
}

.new_account_submit input{
	height: 50px;
}