#wrapper {
    position: relative;
    height: 100%;
	overflow: hidden;
}

.sliding-object{
	-moz-transition: all .3s ease;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

/* Main menu styles */
#top-menu {
	position: absolute;
    width: 100%;
    height: 35px;
	z-index: 2;
	background-color: #4398DE;
}

#my-account,
#notification-icon,
#add-event {
    float: right;
    list-style: none;
}

#list-toggle {
    list-style: none;
    width: 5%;
}

.menu-item {
    margin: 10px;
	text-decoration: none;
    color: #EBF5ED;
}

/* Sidebar Styles */
#sidebar-main {
    background-color: #EBF5ED;
    position: absolute;
	left: 0;
    height: 100%;
    width: 40%;
    z-index: 1;
	text-align: center;
}

#events-searchbar{
	width: 100%;
	display: block;
	padding: 10px 40px 0px 40px;
	text-align: left;
}

#filter-title{
	width: 100%;
}

#filter-category{
	margin: 5px 0px 0px 0px;
	width: 30%;
	height: 25px;
}

#filter-submit{
	
}

#events-tabs{
	display: block;
	padding: 10px 0px 10px 0px;
	background-color: #EBF5ED;
}

#events-tabs a:link{ color:#316EA0; }
#events-tabs a:visited{ color:#316EA0; }
#events-tabs a:hover{ color:#316EA0; }
#events-tabs a:active{ color:#316EA0; }

.event-tab{
	display: inline-block;
	width: 32%;
	height: 40px;
	font: 15px helvetica;
	font-weight: bold;
	line-height: 40px;
	border-top: 2px solid #316EA0;
	border-left: 2px solid #316EA0;
	border-right: 2px solid #316EA0;
	background-color: #F5FAF6;
}

.event-tab:hover{ background-color: #EBF5ED; }

.event-tab-active{
	background-color: #EBF5ED;
}

#events-wrapper{
	overflow-y: scroll;
}

/* Event List Styles */
#event-list {
    width: 18%;
    background-color: #404040;
    position: absolute;
    top: 0px;
    left: 19%;
    height: 100%;
    z-index: 98;
    border-style: solid;
    border-width: 0px 0px 0px 3px;
    border-color: #F8F8F8;
}

.event {
    color: black;
    border-bottom: solid;
    border-color: #4398DE;
    border-width: 1px;
    padding: 3%;
}

#my-account-menu{
	width: 200px;
	height: 300px;
	position: absolute;
	background-color: #EBF5ED;
	right: 0px;
	z-index: 1;
}

.my-account-menu-item {
    color: black;
    width: 100%;
    border-bottom: solid;
    border-color: #4398DE;
    border-width: 1px;
    text-decoration: none;
}

/* Map Styles */
#map-canvas {
   /* left: 20%;
    width: 80%; */
    position: fixed;
}