#wrapper {
   position:relative;
   height:100%;
}

/* Sidebar Styles */
#sidebar-main {
   background-color:gray;
   position:absolute;
   top:0px;
   height:100%;
   width:18%;
   z-index:99;
}

/* Map Styles */
#map-canvas {
   left:18%;
   width:82%;
}