#wrapper {
    position: relative;
    height: 100%;
}

/* Sidebar Styles */
#sidebar-main {
    background-color: #404040;
    position: absolute;
    top: 0px;
    height: 100%;
    width: 20%;
    z-index: 99;
    padding: 5px;
}

#sidebar-links {
    list-style: none;
    width: 95%;
    margin: 0 auto;
    padding: 3%;
}

.sidebar-link {
    color: #F8F8F8;
    text-align: center;
    border-bottom: solid;
    border-color: #F0F0F0;
    border-width: 1px;
    padding: 3%;
    margin: 0 auto;
}

.sidebar-link-button {
    width: 100%;   
}

a:link {color:#F8F8F8; text-decoration: none;}      /* unvisited link */
a:visited {color:#F8F8F8; text-decoration: none;}  /* visited link */
a:hover {color:#F8F8F8; text-decoration: none;}  /* mouse over link */
a:active {color:#F8F8F8; text-decoration: none;}  /* selected link */

/* Map Styles */
#map-canvas {
    left: 20%;
    width: 82%;
}