#wrapper {
    position: relative;
    height: 100%;
	overflow: hidden;
}

.sliding-object{
	-moz-transition: all .3s ease;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

/* Sidebar Styles */
#sidebar-main {
    background-color: #404040;
	border-right: 3px solid black;
    position: absolute;
	left: 0;
    top: 0px;
    height: 100%;
    width: 20%;
    z-index: 1;
	text-align: center;
}

#sidebar-header {
	display: block;
    text-align: center; 
    border-bottom: solid;
    border-color: #F0F0F0;
    border-width: 1px;
    margin: 0px 4px 10px 4px;
	padding: 10% 0px 10% 0px;
}

#sidebar-login-indicator{
	display: block;
	margin: 10px 10px 5px 10px;
	border: 3px solid white;
}

#sidebar-links-wrapper{
	display: block;
}

#sidebar-links {
    list-style: none;
    margin: 0 auto;
    padding: 0% 4% 4% 4%;
}

.sidebar-link {
    color: #F8F8F8;
    text-align: center;
    border-bottom: solid;
    border-color: #F0F0F0;
    border-width: 1px;
    padding: 3%;
    margin: 0 auto;
}

.sidebar-link-button {
    width: 100%;   
}

#showhide {
	position: absolute;
	top: 3%;
	width: 3%;		/* JS will set the height equal to whatever this is. */
	z-index: 1;
    background-color: #404040;
	border: 3px solid black;
    color: #F8F8F;
	text-decoration:line-through;
}

#showhide:hover{
	border: 3px solid #5895B8;
}

.colored-line{
	display: block;
	margin: 22% 15% 0% 15%;
	border-bottom: 1px solid white;
}

/*
#showhide-hidden {
    position: absolute;
    background-color: #404040;
    color: #F8F8F8;
    top: 0px;
    left: 0px;
    height: 30px;
    width: 30px;
    z-index: 1;
}
*/

#sidebar-links a{
	text-decoration: none;
}
*/

.sidebar-link:link {background-color:#F8F8F8; text-decoration: none;}      /* unvisited link */
.sidebar-link:visited {background-color:#F8F8F8; text-decoration: none;}  /* visited link */
.sidebar-link:hover {background-color:#5895B8; text-decoration: none;}  /* mouse over link */
.sidebar-link:active {background-color:#10689a; text-decoration: none;}  /* selected link */

a:link {color:#F8F8F8; text-decoration: none;}      /* unvisited link */
a:visited {color:#F8F8F8; text-decoration: none;}  /* visited link */
a:hover {color:#F8F8F8; text-decoration: none;}  /* mouse over link */
a:active {color:#F8F8F8; text-decoration: none;}  /* selected link */


/* Event List Styles */
#event-list {
    width: 18%;
    background-color: #404040;
    position: absolute;
    top: 0px;
    left: 19%;
    height: 100%;
    z-index: 98;
    border-style: solid;
    border-width: 0px 0px 0px 3px;
    border-color: #F8F8F8;
}

.event {
    color: #F8F8F8;
    border-bottom: solid;
    border-color: #F0F0F0;
    border-width: 1px;
    padding: 3%;
}

/* Map Styles */
#map-canvas {
   /* left: 20%;
    width: 80%; */
    position: fixed;
}