#new_account{
	text-align: center;
	/*opacity: 0;*/
	-moz-transition: opacity .3s linear;
	-webkit-transition: opacity .3s linear;
	transition: opacity .3s linear;
	visibility: hidden;
}

#new_account_form{
	position: fixed;
	top: 50%;
	left: 50%;
	display: inline-block;		/* Fits the width of the container according to its content. */
	overflow: hidden;			/* Forces the container to recognize that it has children, for adjusting height */
	z-index: 3;
	
	border-style: solid;
	background-color: #404040;
	color: white;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	padding-bottom: 10px;
}

.new_account_form_block{
	display: block;
	overflow: hidden;
	margin-left: 4px;
	margin-right: 4px;
}

.new_account_title{
	text-align: center;
	font-size: 1.5em;
	margin: 15px 0px 4px 0px;
}

.new_account_form_block label{
	display: block;
	margin-top: 5px;
	text-transform: uppercase;
}

.new_account_form_block input,
.new_account_form_block button,
.new_account_form_block button:link{
	display: block;
	border: 3px solid white;
	line-height: 1.5;
	font-size: 1em;
	width: 100%;
	background: transparent;
	color: white;
}

.new_account_form_block input:hover,
.new_account_form_block label:hover + input{
	border: 3px solid #5895B8;
}

.new_account_form_block input:focus{
	border: 3px solid #10689a;
}

.new_account_form_column{
	float: left;
	padding: 4px 4px 4px 4px;
	margin: 4px 4px 4px 4px;
	color: white;
}

.new_account_submit{
	margin-top: 15px;
	text-align: center;
	padding: 0px 8px 0px 8px;
}

.new_account_submit input{
	height: 50px;
	border: 3px solid #33CC33;
}

.new_account_submit input:hover{ border: 3px solid #29A329; }
.new_account_submit input:focus{ border: 3px solid #1F7A1F; }

.new_account_submit button{
	height: 50px;
	margin-top: 10px;
	border: 3px solid #FF3300;
	background-color:transparent;
}

.new_account_submit button:hover { border: 3px solid #CC2900;}
.new_account_submit button:active { border: 3px solid #991F00;}
.new_account_submit button:visited { border: 3px solid #991F00;}

.screen{
	height: 100%;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index:2;
	background-color: grey;
	opacity: .75;
}